html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, big, em, font, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit;  font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
:focus { outline: 0;}
ol, ul { list-style: none;}
table { border-collapse: separate; border-spacing: 0;}
caption, th, td { text-align: left; font-weight: normal;}
strong,b{font-weight:bold}
em{font-style:italic}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/*-------------------------------------*/
@font-face {
    font-family: "Nissan Bold";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NissanBrandW10-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/NissanBrandW10-Bold.woff") format("woff"), url("/fonts/NissanBrandW10-Bold.ttf") format("truetype"), url("/fonts/NissanBrandW10-Bold.svg#nissanproreg-webfont") format("svg");
}
@font-face {
    font-family: "Nissan Light";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/NissanBrandW10-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/NissanBrandW10-Light.woff") format("woff"), url("/fonts/NissanBrandW10-Light.ttf") format("truetype"), url("/fonts/NissanBrandW10-Light.svg#nissanproreg-webfont") format("svg");
}
@font-face {
    font-family: "icon-Nissan-Global";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/icons/Nissan-Global.eot?#iefix") format("embedded-opentype"), url("/fonts/Nissan-Global.woff") format("woff"), url("../fonts/icons/Nissan-Global.ttf") format("truetype"), url("../fonts/icons/Nissan-Global.svg#wp-icons") format("svg");
}
/*-------------------------------------*/
*{-moz-box-sizing: border-box; box-sizing: border-box;}
html {width:100%;}
body {font-size:14px; color: #7e7e7e; background: #fff; line-height:1.3;  font-family: "Nissan Bold",Verdana,Arial,sans-serif;}
a {color: #4c4c4c; }
a:hover {text-decoration:none;}
strong, b {
    font-weight: bold;
}
.clr,#clr,.Clr {clear: both;}
/*-------------------------------------*/
.modalWaiting {display: none; position: fixed; z-index:9999; top:0; left:0; height:100%; width:100%; background: rgba( 255, 255, 255, .8 ) url('/images/loader.gif') 50% 50% no-repeat; background-size: 70px; }
.test-drive-button{    border: 1px solid #c3002f;
    background: #c3002f;
    color: #FFF;
    font-family: "Nissan Bold",Verdana,Arial,sans-serif;
    text-transform: uppercase;
    padding: .7142857143em;
    margin-right: .5em;
    cursor: pointer;
}

#TopMenu{width: 100%; background-color: #eee; }
#TopMenu #inlineHeader{ margin:0 auto; max-width: 1200px; text-transform: uppercase; text-decoration: none; font-family: "Nissan Light",Verdana,Arial,sans-serif; font-size: .8571428571em; color: #4c4c4c; }
#TopMenu #inlineHeader li{padding: 7px 0px;}
#TopMenu #inlineHeader a b{font-family: "Nissan Bold",Verdana,Arial,sans-serif; }
#TopMenu #inlineHeader #rightMenu { display: inline-block; text-transform: uppercase;}
#TopMenu #inlineHeader #rightMenu li{vertical-align: top; display: inline-block;}
#TopMenu #inlineHeader #rightMenu li a{text-decoration: none;}
#TopMenu #inlineHeader #rightMenu li a:focus{text-decoration: underline;}
#TopMenu #inlineHeader #rightMenu .services{float: right; border-left: 1px solid #FFF;  padding-left: 2.1875em;  margin-left: 2.1875em;  padding-right: 1.25em; display: inline-block;}
#TopMenu #inlineHeader #rightMenu li.services a {  font-family: "Nissan Bold",Verdana,Arial,sans-serif;  }
#TopMenu #inlineHeader #rightMenu li.services ul{display: none}
#TopMenu #inlineHeader #rightMenu li.services:focus ul{display: block}
#TopMenu #inlineHeader #rightMenu li.services:focus ul li{display: block}
#navigation {height: 8.5714285714em; max-width: 1200px; margin:0 auto}
#navigation a img{width: 7.1428571429em;  height: 8.5714285714em; position: absolute; }
#navigation .page-title {  padding-left: 5.1785714286em;  padding-top: 1.0714285714em;  font-size: 2em;  display: block;  max-width: 45%;  line-height: 1;  margin-bottom: .1785714286em;  }