<!DOCTYPE html>
<html>
<body>
<h2>Заявка на тест-драйв</h2>

<p><a href="http://nissan-sumy.com.ua"><img alt="" src="http://nissan-sumy.com.ua/images/logo.png" style="float:left; height:73px; width:60px" /></a><strong>&nbsp;&nbsp; </strong>${title}<strong> ${lastname} ${firstname} </strong>оформила заявку на тест драйв в нашому салоні</p>

<p><strong>&nbsp;&nbsp; Марка авто:&nbsp; </strong>Nissan ${modelname}</p>

<p>&nbsp;</p>

<hr />
<p><strong>Данні для зворотнього звязку:</strong></p>

<p><strong>телефон:</strong> ${phone}</p>

<p><strong>e-mail:</strong> ${email}</p>

</body>
</html>